<!DOCTYPE html>

<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <!-- <link rel="stylesheet" href="static/dist/output.css"/> -->
      <link href="{{url_for('static',filename='dist/output.css')}}" rel="stylesheet">

      <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    {% block head %}
      <title>My Bookshelf - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
      {% include 'header.html' %}
      {% endblock %}
    </header>
    <nav>
      {% block nav %}
      {% include 'nav.html' %}
      {% endblock %}
    </nav>
    <hr>
    <main>
      {% block main %}
      {% endblock %}
    </main>
    <hr>
    <footer>
      {% block footer %}
      {% include 'footer.html' %}
      {% endblock %}
      
    </footer>
    <!-- <script src="node_modules/flowbite/dist/flowbite.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
  </body>
</html>