{% extends 'base.html' %}

{% block title %}

    {% if book.title is none %}

        {{ "Untitled Book" }}

    {% else %}

        {{book.title | truncate(20)}}

    {% endif %}

{% endblock %}

{% block main %}

    {{book.title}}

    {{book.author}}

    {{book.description}}

    {{book.price}}

    {{book.isbn}}

    {{book.image}}

    {{book.url}}

    {% if book.isbn is not none %}
        <script type="text/javascript" src="//books.google.com/books/previewlib.js"></script>
        <script type="text/javascript">
            GBS_insertEmbeddedViewer('ISBN:{{ book.isbn }}', 850, 1100);
        </script>
    {% endif %}
    

{% endblock %}
