{% extends 'base.html' %}

{% block title %}

    {% if book.title is none %}

        {{ "Untitled Book" }}

    {% else %}

        {{book.title | truncate(20)}}

    {% endif %}

{% endblock %}

{% block main %}
    <div className="book">
        
    <h1>   
        {% if book.title is none %}
            {{ "Untitled Book" }}
        {% else %}
            {{book.title}}
        {% endif %} 
    </h1>

    <h2>
        {% if book.author is none %}
            {{ "Unknown Author" }}
        {% else %}
            {{book.author}}
        {% endif %}
    </h2>

    <p>{{book.description or "No description available."}}</p>
    <br>

    {{book.image or "No image found"}}
    <br>
    {{book.url or "No URL found"}}
    <br>

    {% if book.isbn is not none %}

       ISBN:{{book.isbn}}
      
    {% else %}
        <p> No preview available </p>

    {% endif %}

    <a href="">Back to search</a>
    </div>

    <div id="content"></div>
    <script>
      function handleResponse(response) {
      for (var i = 0; i < response.items.length; i++) {
        var item = response.items[i];
        
        document.getElementById("content").innerHTML += "<br>" + item.volumeInfo.title;
      }
    }
    </script>
    <script src="https://www.googleapis.com/books/v1/volumes?q=harry+potter&callback=handleResponse&key=yourAPIKey"></script>

    
{% endblock %}

{#
  # This embeds a Google Books preview of the book *if* the book has a preview. Otherwise nothing appears.
  # This makes the embed script inappropriate for MVP, but is useful for testing with valid ISBNs.
  # <script type="text/javascript" src="//books.google.com/books/previewlib.js"></script>
        # <script type="text/javascript">
        #     GBS_insertEmbeddedViewer('ISBN:{{ book.isbn }}', 850, 1100);
        # </script>
#}
