{% extends 'base.html' %}

{% block title %}

    {% if book.title is none %}

        {{ "Untitled Book" }}

    {% else %}

        {{book.title | truncate(20)}}

    {% endif %}

{% endblock %}

{% block main %}

    {{book.title}}

    {{book.author}}

    {{book.description}}

    {{book.price}}

    {{book.isbn}}

    {{book.image}}

    {{book.url}}

{% endblock %}
