{% extends 'base.html' %}
{% block main %}
    <h1>Catalog</h1>
    <ul>   
        {% for book in books %}
            <a href="/catalog/{{book.id}}"><img src={{book.image_url}}></a>
        {% endfor %}
    </ul>
{% endblock %}