{% extends 'base.html' %}
{% block main %}
    <h1>Catalog</h1>
    <ul>   
        {% for book in books %}
            <li><a href="/catalog/{{book.id}}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
    
{% endblock %}